* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* sharing style  */
.display-flex {
    display: flex;
}






/* main title  */
header {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

header h3 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}


header h3 span {
    color: #dd0719;
}

header ul {

    gap: 32px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
}


header nav button {
    padding: 14px 16px;
    border: none;
    border-radius: 12px;
    background: rebeccapurple;
}


header nav .bar {
    display: none;
}












/* responsive for small device */
@media screen and (max-width: 576px) {

    header nav{
        padding: 18px 20px;
    }

    .unorder-list,
    .button {
        display: none;
    }

    header nav .bar {
        display: inline;
        color: #FFFFFF;
    }


}