* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* sharing style  */
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.section-heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;

}





/* main title  */
header {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

header h3 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}


header h3 span {
    color: #dd0719;
}

header ul {

    gap: 32px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
}


.btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 16px;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.btn:hover {
    transform: scale(1.05);
    background-image: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
    transition: .5s;
}


header nav .bar {
    display: none;
}


/* hero section  */
.hero-section {
    background-image: url('../assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-container {
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    padding: 101px 0px;
}

.hero-circle {
    justify-content: center;
    align-items: center;
    position: relative;
    /* max-width: 350px; */
}

.hero-circle img {
    max-width: 350px;
    width: 100%;

}

.microphone {
    position: absolute;
}

.microphone img {
    width: 100%;
}

.challenge-btn {
    position: absolute;
    z-index: 10;
    margin-top: -200px;
    margin-left: 270px;
    padding: 10px 30px;
    color: #1A0B2E;
    font-weight: 700;
    background-color: #00FF88;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 600;

}

.hero-content {
    text-align: center;
}

.hero-content h3 {
    font-size: 3.8rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}

.hero-content .btn-2 {
    padding: 12px 20px;
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 50px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 8px;

}

.hero-content .btn-2:hover {
    transform: rotate(20deg) scale(1.1);
    transition: 1s;

}


/* about section */

.about-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px 120px;
}

.about-container .about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 80px;
    line-height: 20px;
}

.about-content hr {
    border: 1px solid #ffffff2d;
    margin-bottom: 80px;
}




.about-rating-container {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    justify-items: center;
}

.about-rating-container .about-rating-part {
    text-align: center;
}

.about-rating-part h3 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 1rem;
}

.about-rating-part p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

/* choose-techwave-section  */

.choose-techwave-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;

}

.TechWave-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;
}

.techwave-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.techwave-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
.content h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 16px 0px;
    color: #FFFFFF;
}
.content p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}
.content-padding {
    padding: 40px;
}

.content-1 {
    grid-row: span 2;
}

.content-2 {
    grid-column: span 2;
}

.content-3 {
    grid-column: span 2;
}

.content-4 {
    grid-column: span 2;
}

.content-5 {
    grid-column: span 1;
}



/* feature section */
.featured-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.card-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;
}


.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.card {
    max-width: 330px;
    border-radius: 15px;
    background-color: #250D44;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.card p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 12px;
    line-height: 1.5rem;
}

.card span {
    color: #00FF88;
}

.card-content {
    padding: 24px;
}



/* host section  */
.host-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
}

.meet-the-host-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;
}

.host-container {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 24px;
    grid-template-areas:
        "host content content content"

}


.host-img {
    grid-area: host;
}

.host-content {
    grid-area: content;
}
.host-content h3{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.host-content p{
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.host-content ul {
    gap: 10px;
}

.host-content ul li {
    list-style: none;
}

.host-content ul li a {
    text-decoration: none;
}

.host-content ul li a img {
    padding: 10px;
    border: 1px solid #00FF88;
    border-radius: 50px;
}

/* footer section  */

footer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 0px;
    background-image: url('../assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

.footer-container h3 {
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.footer-container h3 .gradient-logo {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.footer-container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 32px;
}

.footer-container ul li {
    list-style: none;
}

.footer-container ul li a {
    text-decoration: none;
    color: white;
}

.footer-container small {
    font-size: 1rem;
    font-size: 400;
    line-height: 24px;
    color: #FAFAFA;
}


/* responsive for small device */
@media screen and (max-width: 576px) {

    header nav {
        padding: 18px 20px;
    }

    .unorder-list,
    .button {
        display: none;
    }

    header nav .bar {
        display: inline;
        color: #FFFFFF;
    }

    .hero-section {
        background-position: center top;
    }

    .hero-circle {
        top: -100px;

    }

    .hero-circle img {
        width: 40%;
        margin-top: -10px;


    }

    .microphone img {
        width: 50%;
        margin-top: 0%;
        margin-left: 25%;
    }

    .challenge-btn {
        position: absolute;
        z-index: 10;
        margin-top: -100px;
        margin-left: 120px;
        padding: 5px 10px;
    }
    

    .section-heading {
        padding: 5px;
    }

    .about-container .about-content {
        padding: 20px;

    }

    .about-rating-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 40px 20px;

    }

    .techwave-1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .techwave-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .card {
        padding-left: 25px;
    }

    .card-container {
        flex-direction: column;
        display: flex;
        justify-items: center;
        gap: 100px;
    }
    


    .card-content {
        padding: 5px;
    }

    .host-container {
        text-align: center;
        gap: 24px;

        grid-template-areas:
            "host"
            "content"

    }

    .host-content ul {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer-container ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 16px;
    }
}