* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* sharing style  */
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.section-heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;

}





/* main title  */
header {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

header nav {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

header h3 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}


header h3 span {
    color: #dd0719;
}

header ul {

    gap: 32px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
}


.btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 16px;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.btn:hover {
    transform: scale(1.05);
    background-image: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
    transition: .5s;
}


header nav .bar {
    display: none;
}


/* hero section  */
.hero-section {
    background-image: url('../assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-container {
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    padding: 101px 0px;
}

.hero-circle {
    justify-content: center;
    align-items: center;
    position: relative;
    /* max-width: 350px; */
}

.hero-circle img {
    max-width: 350px;
    width: 100%;

}

.microphone {
    position: absolute;
}

.microphone img {
    width: 100%;
}

.challenge-btn {
    position: absolute;
    z-index: 10;
    /* margin-top: -300px;
    margin-left: 200px; */

}

.hero-content {
    text-align: center;
}

.hero-content h3 {
    font-size: 3.8rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}

.hero-content .btn-2 {
    padding: 12px 20px;
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 50px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 8px;

}

.hero-content .btn-2:hover {
    transform: rotate(20deg) scale(1.1);
    transition: 1s;

}


/* about section */

.about-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px 120px;
}

.about-container .about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 80px;
    line-height: 20px;
}

.about-content hr {
    border: 1px solid #ffffff2d;
    margin-bottom: 80px;
}




.about-rating-container {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    justify-items: center;
}

.about-rating-container .about-rating-part {
    text-align: center;
}

.about-rating-part h3 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 1rem;
}

.about-rating-part p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

/* choose-techwave-section  */
.choose-techwave-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
}

.techwave-choose-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;
}




.techwave-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.premium-audio {
    grid-row: span 2;
}

.mobile-friendly {
    grid-column: span 2;
    
}

.global-community {
    grid-column: span 2;
}

.Exclusive-interview {
    grid-column: span 2;
}

.techwave-container div {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.padding {
    padding: 40px;
}

.techwave-choose-container div img {
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 16px;
    
}

.techwave-choose-container div h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.techwave-choose-container div p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
}



/* feature section */
.featured-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.card-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;
}

.card {
    width: 380px;
    border-radius: 15px;
    background-color: #250D44;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.card p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 12px;
    line-height: 1.5rem;
}

.card span {
    color: #00FF88;
}

.card-content {
    padding: 24px;
}



/* host section  */
.host-section {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
}

.meet-the-host-content {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 120px 0px;
}

.host-container {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 24px;
    grid-template-areas:
        "host content content content"

}


.host-img {
    grid-area: host;
}

.host-content {
    grid-area: content;
}

.host-content ul {
    gap: 10px;
}

.host-content ul li {
    list-style: none;
}

.host-content ul li a {
    text-decoration: none;
}

.host-content ul li a img {
    padding: 10px;
    border: 1px solid #00FF88;
    border-radius: 50px;
}



/* responsive for small device */
@media screen and (max-width: 576px) {

    header nav {
        padding: 18px 20px;
    }

    .unorder-list,
    .button {
        display: none;
    }

    header nav .bar {
        display: inline;
        color: #FFFFFF;
    }

    .hero-section {
        background-position: center top;
    }

    .hero-circle {
        top: -100px;

    }

    .hero-circle img {
        width: 40%;
        margin-top: -10px;


    }

    .microphone img {
        width: 50%;
        margin-top: 0%;
        margin-left: 25%;
    }

    .challenge-btn {
        position: absolute;
        z-index: 10;
        /* margin-top: -120px;
        margin-left: 180px; */
    }

    .about-container,
    .card-section {
        padding: 0px 20px;
    }

    .about-rating-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 40px 20px;

    }

    
}